
div .block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1px;
  border: solid 1px;
  float: left;
  height: 100px;
  width: 100px;
  font: 40px verdana;
  background-color: #FCFCFC;
}

div .block:hover {
  opacity: 0.5;
}

div .row2 {
  border-top: solid 2px;
}

.row2 .block {
  background-color: #F0F0F0;
}

.container {
  margin-top: 30px;
  margin-left: 30px;
  height: 600px;
  width: 400px;
  border: solid 2px black;
}

div .twoBlock {
  justify-content: flex-start;
  width: 162px;
  padding-left: 38px
}

div .row1 {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font: 40px verdana;
  height: 100px;
  width: 364px;
  padding-right: 36px;
  background-color: black;
}

#division, #multiply, #minus, #plus, #equals {
  color: white;
  background-color: #A1C6EB;
  border-color: black;
}

div #zero, #dot, #equals {
  height: 98px;
  border-bottom: solid 2px black;
}
