div#calc {
  margin-top: 50px;
  margin-left: 30px;
  font: 26px sans-serif;
}

div .block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1px;
  border: solid 1px;
  float: left;
  height: 50px;
  width: 50px;
  /*border-radius: 20px;*/
  font: 20px verdana;
  background-color: #FCFCFC;
}

div .row2 {
  border-top: solid 2px;
}

.row2 .block {
  background-color: #F0F0F0;
}

.container {
  margin-left: 30px;
  height: 300px;
  width: 200px;
  border: solid 2px black;
}

div .twoBlock {
  justify-content: flex-start;
  width: 79px;
  padding-left: 21px
}

div .row1 {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font: 20px verdana;
  height: 50px;
  width: 182px;
  padding-right: 18px;
  background-color: black;
}

#division, #multiply, #minus, #plus, #equals {
  color: white;
  background-color: #FFC671;
  border-color: black;
}
